.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Main-Container {
  padding:2%;
}

#Employee-Login-Button {
  float: right;
}

#Centralized-In-Page {
  padding-top: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Centralized-In-Block {
  margin: 0 auto;
  padding-bottom: 15%;
}

.Authenticatin-Div {
  min-width: 30%;
  margin: 30px 0;
}

#Top-Padding {
  padding-top: 3%;
}

#Bottom-Padding {
  padding-bottom: 3%;
}

#Padding-Left {
  padding-left: 3%;
}